.Box {
  color: gray;
  display: flex;
  flex-direction: column;
  /* with direction of flexbox */
  justify-content: center;
  /* other direction of flexbox */
  align-items: center;
  width: auto;
}

.border1 {
  border: solid black 1px;
}

.gap15v {
  height: 15vh;
}

.gap10h {
  width: 10vw;
}

.landing_title {
  font-size: 4em;
  font-family: helvetica;
  text-align: center;
  margin: 40px;
}

.landing_subtitle {
  font-family: helvetica;
  font-size: 1.5em;
  margin: 10px;
  max-width: 90vw;
  width: 1000px;
}

.disclosure {
  font-family: helvetica;
  max-width: 90vw;
  width: 1000px;
  margin: 20px;
}

.iconSelections {
  display: flex;
  flex-direction: row;
}

.selectionButton {
  border: gray solid 2px;
  border-radius: 10px;
  padding: 10px;
}

.galleryTitle {
  font-size: 3em;
  font-family: helvetica;
  text-align: center;
  margin: 20px;
}

.gallerySubtitle {
  font-family: helvetica;
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
  width: 1000px;
  max-width: 90vw;
  margin: 5px;
}

.galleryCaption {
  font-family: helvetica;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  justify-content: center;
  width: 1000px;
  max-width: 90vw;
  margin: 5vh;
}

.galleryChart {
  height: 50vh;
  max-width: 90vw;
  width: 1000px;
  border: gray solid 2px;
  border-radius: 20px;
  margin: 20px;
}

.logoImage {
  border: gray solid 2px;
  border-radius: 20px;
  margin: 10px;
  width: 10%
}

.logoBox {
  max-width: 90vw;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.backendImage {
  width: 90%
}

.backendImageBox {
  max-width: 90vw;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px
}

.hr {
  width: 95vw;
}

.h1px {
  height: 1px;
}

.fontRed {
  color: red;
}